<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Login</h1>

{% if error %}
<div class="error-box">{{ error }}</div>
{% endif %}

<form method="POST" class="card">
    <input name="username" placeholder="Username" required>
    <input name="password" type="password" placeholder="Password" required>
    <button>Login</button>
</form>

<a href="/register">Create account</a>

</div>

</body>
</html>